.about-me{
    padding: 30px 0;
}

.about-me h2{
    font-size: 60px;
    color: rgb(180, 181, 182);
    font-family: 'PT Serif', serif;
}

.myImage{
    padding-top: 70px;
}

.about-me img {
    height: 100%;
    max-height: 280px;
    width: 70%;
}

.about-me ul{
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

.about-me ul li{
    display: inline;
    margin-left: 20px;
}

.about-me ul li :hover img{
    transform: scale(1.3, 1.2);
    filter: grayscale(0%);
}

.about-me ul li img{
    height: 50px;
    width: 50px;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

.my-details{
    text-align: left;
}

.my-details p {
    color: rgb(112, 113, 114);
    font-family: 'Source Sans Pro', sans-serif;
}

p span{
    font-weight: bold;
}

.about-me .btn{
    font-size: 18px;
    border-radius: 20px;
    font-family: 'Lora', serif;
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .myImage{
        padding-top: 135px;
    }
    .about-me img {
        width: 100%;
    }
    .about-me ul li img{
        height: 30px;
        width: 30px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}

@media (max-width: 767.98px) {
    .about-me .btn-primary{
        margin-bottom: 20px;
    }
}